.calendar_whole {
    background-color: pink;
    text-align: center;
}

.calendar_title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    padding: 10px;

}

.calendar_design {
    background-color: rgb(255, 249, 231);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    width: 500px;
    height:420px;
}

.calendar {
    display:flex;
    justify-content: center;
    padding:10px;

}

.booking_details {
    justify-content: center;
    text-align: center;
    padding:10px;
}

.details_table {
    margin-left: auto;
    margin-right: auto;
}

.time_picker {
    padding: 10px;
    display: inline;
}

.button_div {
    padding: 10px;
}