.calendar_whole {
    background-color: pink;
    text-align: center;
}

.calendar_title {
    display: flex;
    justify-content: center;
    font-weight: 625;
    font-size: 45px;
    padding: 10px;

}

.calendar_design {
    background-color: white;
    font-size: larger;
    width: 40%;
}

.calendar {
    display:flex;
    justify-content: center;
    padding:10px;

}

.booking_details {
    justify-content: center;
    text-align: center;
    padding:10px;
}

.details_table {
    margin-left: auto;
    margin-right: auto;
}

.time_picker {
    padding: 10px;
    display: inline;
}

.button_div {
    padding: 10px;
}