.chat__link {
  text-decoration: none;
  color: inherit;
}

.chat__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 45px;
  border-bottom: 1px solid #fafafa;
  box-sizing: initial;
}

.chat__details {
  padding-top: 22px;
  color: black;
  flex: 1;
}
.chat__name {
  font-size: 20px;
}
.chat__details > p {
  color: grey;
}

.chat__timestamp {
  color: lightgray;
}

.chat__image {
  margin-right: 20px;
}
