.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0px 0px 0 rgba(209, 209, 209, 0.3);
}

.popup__body {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.popup__content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.popup__buttons {
  display: flex;
  justify-content: space-between;
}

.card > div {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px; /* Need a specific value to work */
  bottom: 10px;
  background-color: white;
  border-radius: 25px;
}
.card__description {
  text-align: center;
  padding: 10px;
}
.main__details {
  font-weight: bolder;
  color: rgb(43, 43, 43);
  font-size: 25px;
}

.description {
  color: grey;
  font-weight: bold;
}

.tinderCards__cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}
